torch
torchmetrics
lightning
timm==1.0.9
polars[numpy,pandas]
numpy
pandas
pyarrow
scipy
scikit-learn
matplotlib
numba
h5py
tables
tqdm
pyyaml
pytest
python-dotenv
psutil
fastaparser
lxml
isal
tabulate 

grpcio >= 1.44.0
grpcio-tools >= 1.44.0
protobuf >= 4.21

# conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch -c nvidia
# conda install lightning torchmetrics -c conda-forge
